@font-face {
    font-family: 'entypo';
    src: url('@/assets/webfonts/entypo.eot');
    src: url('@/assets/webfonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('@/assets/webfonts/entypo.woff') format('woff'),
    url('@/assets/webfonts/entypo.ttf') format('truetype'),
    url('@/assets/webfonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VariableBlack';
    font-style: normal;
    font-weight: normal;
    src: local('VariableBlack'), url('@/assets/webfonts/VariableBlack.woff') format('woff');
}

body {
    font-family: VariableBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: VariableBlack, Helvetica, sans-serif;
    font-weight: bold;
}

.icon {
    font-family: entypo;
}

.naala-main {
    --el-main-padding: 20px 20px 0 20px;
}

.el-breadcrumb {
    margin-top: 20px;
}

.cards {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 0 2rem;
}

.card {
    color: white;
    padding: 1rem;
    height: 4rem;
}

@media (min-width: 480px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 768px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 992px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(5, 1fr); }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0
}
