@function calculateRem($size) {
  $remSize: calc($size / 16);
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin grid-item($amount){
  @for $i from 1 through $amount{
    &:nth-of-type(#{$amount}n + #{$i}){
      grid-column: #{$i + $i - 1} / span 3;
      @if $i % 2 == 0{
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
      }
    }
  }

  @for $i from 1 through 20{
    &:nth-of-type(n + #{$i * $amount + 1}){
      --counter: #{$i + 1};
    }
  }
}
